

.record-nav-con{
  height: 110px;
  position: relative;
}

.record-nav{
  height: 100%;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-items: center;
}

.record-nav-link {
  font-size: 30px;
  text-align: center;
  color: #333;
  flex: 1 1;
  border-right: 1px solid #ddd;
  height: 60px;
  line-height: 60px;
  transition: color 300ms;
}

.record-nav .active {
  color: #975ec9;
}


.nav-flag-bar{
  width: 130px;
  height: 2px;
  background-color: #975ec9;
  position: absolute;
  bottom: 0;
  left: 17%;
  transition: left 300ms;
  margin-left: -65px;
}
