
.home-container{
  padding-top: 70px;
  background-color: #eee;
}

.common-title{
  font-size: 32px;
  text-align: left;
  color: #975ec9;
  padding: 30px;
  background-color: #eee;
}

.home-form{
  background-color: #fff;
}

.home-form-item{
  height: 120px;
  border-bottom: 1px solid #eee;
  align-items: center;
  line-height: 120px;
}

.home-form-item span{
  font-size: 28px;
  color: #555;
  margin-left: 30px;
  margin-right: 20px;
}

.home-form-item input{
  border: none;
  font-size: 30px;
}

.common-select-btn{
  background-color: #fff;
  min-height: 120px;
  font-size: 35px;
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-img-con{
  text-align: center;
  background-color: #eee;
}


.file-lable{
  position: relative;
}
input[type='file']{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  top: 0;
  right: 0;
  opacity: 0;
}


.select-img{
  text-align: center;
  /* margin-top: 10px; */
}


.submit-btn{
  width: 90%;
  background-color: #975ec9;
  margin: 50px auto 0;
  border-radius: 10px;
  line-height: 70px;
  font-size: 32px;
  text-align: center;
  color: #fff;
}